In [4]:
import pandas as pd

input_file = 'TCE-PB-Licitacoes_2024.csv'

df = pd.read_csv(input_file, sep=';', encoding='latin-1')

df.head(3)

,cod_unidade_gestora,ente,unidade_gestora,esfera,numero_licitacao,data_cadastro,data_homologacao,valor_estimado,objeto,tipo_objeto,...,numero_protocolo,tipo_protocolo,valor_proposta,valor_homologacao,valor_empenhado,valor_liquidado,valor_pago,valor_empenhado_total,valor_liquidado_total,valor_pago_total
0,190001,GOVERNO DO ESTADO DA PARAÍBA,Secretaria de Estado da Administração,Estadual,00131/2023,2023-06-29,2024-01-26,"1972205,86",Contratação de Empresa para Prestação de Servi...,Compras e Serviços,...,70023/23,Documento,"1972205,86","1208981,83",NaN,NaN,NaN,NaN,NaN,NaN
1,190001,GOVERNO DO ESTADO DA PARAÍBA,Secretaria de Estado da Administração,Estadual,00131/2023,2023-06-29,2024-01-26,"1972205,86",Contratação de Empresa para Prestação de Servi...,Compras e Serviços,...,70023/23,Documento,"1972205,86","1208981,83",NaN,NaN,NaN,NaN,NaN,NaN
2,190001,GOVERNO DO ESTADO DA PARAÍBA,Secretaria de Estado da Administração,Estadual,00131/2023,2023-06-29,2024-01-26,"1972205,86",Contratação de Empresa para Prestação de Servi...,Compras e Serviços,...,70023/23,Documento,"1972205,86","1208981,83",NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df['tipo_protocolo'].nunique()

2

In [8]:
df['numero_licitacao'].nunique()

1084

In [7]:
df['esfera'].nunique()

2

In [5]:
df['ente'].nunique()

224

In [6]:
df['unidade_gestora'].nunique()

513

In [19]:
def convert_float(value):
    try:
        new_value = str(value)
        new_value = new_value.replace(',', '.')
        new_value = float(new_value)
        return new_value
    except:
        return value

for column in ['valor_proposta', 'valor_homologacao',
               'valor_empenhado', 'valor_pago']:
    df[column] = df[column].apply(lambda x: convert_float(x))

In [20]:
for column in ['valor_proposta', 'valor_homologacao',
               'valor_empenhado', 'valor_pago']:
    print(df[column].isna().sum())

0
0
14524
14524

In [22]:
top_k = 2
column_analysis = 'valor_homologacao'
global_mean = df[column_analysis].mean()

for column in ['numero_licitacao', 'ente', 'unidade_gestora']:    
    df_top = df.groupby(column)[column_analysis].mean()
    df_top = pd.DataFrame(df_top.nlargest(top_k).reset_index())
    df_top[column_analysis] = round(df_top[column_analysis], 2)
    df_top['Proporção'] = round(df_top[column_analysis]/global_mean, 1)
    print(df_top)

  numero_licitacao  valor_homologacao  Proporção
0       13004/2022        77081474.30       79.2
1       11060/2023        40880535.65       42.0
                           ente  valor_homologacao  Proporção
0  GOVERNO DO ESTADO DA PARAÍBA         3886712.94        4.0
1                          Sumé         3679225.55        3.8
                      unidade_gestora  valor_homologacao  Proporção
0       Secretaria de Estado da Saúde        15665151.74       16.1
1  DEPARTAMENTO DE ESTRADAS E RODAGEM        12499367.13       12.8

In [ ]:
global_mean = df_2024['valor_remuneracao_total'].mean()
df_top = df_2024.groupby('cpf_servidor')['valor_remuneracao_total'].mean()
df_top = pd.DataFrame(df_top.nlargest(5).reset_index())
df_top['valor_remuneracao_total'] = round(df_top['valor_remuneracao_total'], 2)
df_top['Proporção'] = round(df_top['valor_remuneracao_total']/global_mean, 1)
df_top

In [ ]:
numero_licitacao
unidade_gestora
ente